In [1]:
import pandas as pd
import numpy as np

In [4]:
df_example = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\team_ratings\tmr_2023_24.csv')
df_example.head(5)

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Boston Celtics,E,A,64,18,0.780,11.34,124.23,112.51,11.71,10.74,123.81,112.70,11.11
1,2,Oklahoma City Thunder,W,NW,57,25,0.695,7.41,120.43,113.12,7.31,7.36,120.49,113.23,7.26
2,3,Minnesota Timberwolves,W,NW,56,26,0.683,6.45,116.63,109.98,6.65,6.38,116.53,109.95,6.57
3,4,Denver Nuggets,W,NW,57,25,0.695,5.26,119.49,114.05,5.44,5.23,119.60,114.20,5.40
4,5,New York Knicks,E,A,50,32,0.610,4.59,119.11,114.22,4.89,4.36,118.93,114.28,4.66

In [6]:
df_adv_example = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\team_advanced\adv_t_22_23.csv')
df_adv_example.head(5)

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G
0,1.0,Boston Celtics*,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,0.197,NaN,0.528,11.3,78.5,0.180,NaN,TD Garden,766240,18689
1,2.0,Cleveland Cavaliers*,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,0.206,NaN,0.535,14.4,76.3,0.210,NaN,Rocket Mortgage Fieldhouse,777280,18958
2,3.0,Philadelphia 76ers*,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,0.250,NaN,0.541,13.0,77.2,0.217,NaN,Wells Fargo Center,839261,20470
3,4.0,Memphis Grizzlies*,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,0.190,NaN,0.526,13.1,75.9,0.206,NaN,FedEx Forum,707836,17264
4,5.0,Milwaukee Bucks*,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,0.184,NaN,0.520,10.4,77.8,0.175,NaN,Fiserv Forum,718786,17531

In [8]:
df_comp_example = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\team_composition\roster_comp_22_23.csv')
df_comp_example.head(15)

,Unnamed: 0,Team,Selected via Draft,Acquired via Draft Rights Trade,Draft & Draft Rights Trade Combined,Acquired via Trade,Acquired via Waiver Claim,Acquired via Expansion,Acquired via Free Agency,Total Roster
0,0,Atlanta Hawks,4,3,7,6,0,0,2,15
1,1,Boston Celtics,6,0,6,4,0,0,5,15
2,2,Brooklyn Nets,2,1,3,8,0,0,4,15
3,3,Charlotte Hornets,5,3,8,3,0,0,4,15
4,4,Chicago Bulls,5,0,5,4,0,0,6,15
5,5,Cleveland Cavaliers,4,1,5,3,0,0,7,15
6,6,Dallas Mavericks,1,2,3,6,0,0,6,15
7,7,Denver Nuggets,6,1,7,4,0,0,4,15
8,8,Detroit Pistons,4,2,6,6,0,0,3,15
9,9,Golden State Warriors,8,1,9,2,0,0,4,15
10,10,Houston Rockets,5,3,8,2,0,0,5,15
11,11,Indiana Pacers,4,1,5,7,0,0,3,15
12,12,Los Angeles Clippers,1,2,3,7,0,0,5,15
13,13,Los Angeles Lakers,1,0,1,6,0,0,8,15
14,14,Memphis Grizzlies,2,8,10,2,0,0,3,15

In [14]:
df_lineup_example = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\team_lineups\example_lineup.csv')
#make the first row the column names and drop the first row
df_lineup_example.columns = df_lineup_example.iloc[0]
df_lineup_example = df_lineup_example.drop([0])
df_lineup_example.head(5)

,NaN,Rk,Lineup,MP,PTS,FG,FGA,FG%,3P,3PA,...,ORB%,DRB,DRB%,TRB,TRB%,AST,STL,BLK,TOV,PF
1,0.0,1.0,J. Brown | A. Horford | M. Smart | J. Tatum | ...,433:06,10.5,1.2,-4.7,0.039,6.0,8.0,...,-8.8,-1.1,-8.8,-2.9,-6.6,7.6,0.7,1.7,-2.1,-0.5
2,1.0,2.0,J. Brown | A. Horford | M. Smart | J. Tatum | ...,179:46,-1.1,-1.5,1.6,-0.026,5.0,10.1,...,-6.8,-4.8,-6.8,-3.7,-8.2,5.6,2.8,0.8,-1.6,0.4
3,2.0,3.0,J. Brown | A. Horford | J. Tatum | D. White | ...,117:09,14.8,1.3,0.0,0.014,3.0,8.5,...,6.6,6.8,6.6,4.4,9.4,3.8,-2.1,3.0,2.1,-1.1
4,3.0,4.0,M. Brogdon | J. Brown | A. Horford | M. Smart ...,110:11,-4.8,-4.8,-11.6,0.011,-2.3,-7.0,...,1.4,2.4,1.4,1.3,3.4,-1.7,-1.9,5.1,6.0,-1.7
5,4.0,5.0,J. Brown | A. Horford | M. Smart | J. Tatum | ...,80:39,-15.3,-2.8,-3.4,-0.014,-10.7,-16.4,...,11.5,5.1,11.5,5.1,11.5,-6.2,-0.6,2.8,5.1,-0.8